<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap" rel="stylesheet">
    <title>Laugh</title>
</head>

<body>
    <h3>Select the type</h3>
    <div class="container">
        <div class="choices">
            <button class="button button1">Any</button>
            <button class="button button2">Programming</button>
            <button class="button button3">Misc</button>
            <button class="button button4">Dark</button>
            <button class="button button5">Pun</button>
            <button class="button button6">Spooky</button>
            <button class="button button7">Christmas</button>
        </div>
        <div class="content">
            <p>why do jsdcnkjnsjen ij jsd jvjs? </p>
            <p> Becasuebhb ebv ebbsdfb jvhb dsbs </p>
        </div>
    </div>
</body>

</html>