<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap" rel="stylesheet">
    <title>Laugh</title>
</head>

<body>
    <h3></h3>
    <p class="btn">Refresh the page to get new Jokes</p>
    <div class="container">
        
        <div class="content">
            <% if (locals.question && locals.answer) { %>
            <p> <%= question %> </p>
            <p> <%= answer %> </p>
            <% } else if(locals.content){%>
                <%= content %>
            <% }%>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>